.form-container {
  margin: 100px;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.full-width {
  width: 100%;
}

.margin-left mat-radio-button:not(:first-child) {
  margin-left: 10px;
}

.top-padding {
  padding-top: 3px;
}
